body {
    background-color: #EBF5FF;
    
    min-height: 100vh;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-bottom: 30px;
}

a{
    display: inline-block;
    text-decoration: none;
}
.common-container{
    max-width: 1000px;    
    margin: 10px auto;
    padding: 20px;    
    font-family: 'Segoe UI', sans-serif;
}

.head-title {
    font-family: serif;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 2rem;
}

.head-title.flights {
    margin-bottom: 15px;
    padding-left: 10px;
}

#date-container {
    font-family: serif;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.path.flights {
    position: absolute;
    top: 5px;
}

.ticket-card.flights {
    margin-bottom: 25px;
}

.action-area.flights {
    display: flex;
    justify-content: space-between;
}

/* passengeres details*/
.details-container{
    flex: 2;
    box-shadow: 5px -5px 4px rgba(220, 235, 251, 0.50), -5px 5px 4px rgba(220, 235, 251, 1);
    border-radius: 5px 20px 20px 20px;
    padding: 20px;
    background: #fff;
    min-width: 300px;
    margin-bottom: 25px;
}

.common-text{
    display: inline-block;
    font-family: serif;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 10px;
    margin-bottom: 5px;
}

.passenger-title{
    width: 100px;
    padding: 5px;
}

.inputs-fieldset{
    display: inline-block;
    position: relative;
    height: 70px;
    margin: 0px 30px 20px 20px;
    padding: 0px;
    width: 250px;
    border-radius: 10px;
}

.contact-details .inputs-fieldset{
    width: 300px;
}

.contact-details .inputs-fieldset.email{
    width: 500px;
}

.inputs-fieldset>.common-text{
    padding: 0px;
    margin-left: 10px;
}

.contact-details .inputs-fieldset > span{
    position: absolute;
    top: 10px;
    transform: translateX(-200%);
    background: #fff;
}

.inputs-fieldset> input[type="date"]{
    padding-right: 10px;
}

.inputs{
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 10px;
}

.passenger-title>.inputs{
    padding: 0px;
}

.action-area.passengers {
    display: flex;
    justify-content:center;
}

/*select seats*/

.plane{
    display: block;
    margin: 0 auto;
    width: 400px;
    min-height: auto;
    background-color: #c5e7f8;
}

.seats-form{
    padding-top: 10px;
}

.seats-form>label{
    display: inline-block;
}

.plane>.seats-form .plane .inputs{
    display: inline-block;
}

.radio-button{
    width: 20px;
}

.plane .inputs[type=checkbox] {
    display: none;
}

.seats-lable{
    margin-top: 10px;
}
.seats{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #95d2ec;
    border: 2px solid #333;
    border-radius: 4px;
    margin-top: 10px;
}

.plane .inputs[type=checkbox]:checked  + .seats {
  background-color: #75acc6; 
}

.rows{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    width: 20px;
}
.rows.business{
    margin-right: 60px;
}

.rows.economy{
    margin-right: 40px;
}

.hall-way{
    display: inline-block;
    width: 90px;
    height: 1px;
}

.seats.business{
    width: 50px;
    height: 30px;
    margin-right: 25px;
}

.small-hall-way{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: blanchedalmond;
}

.exit{
    display: inline-block;
    margin-top:  15px;
    width: 10px;
    height: 70px;
    background-color: red;
}

.wc{
    display: inline-block;
    margin: 20px 50px;
    padding: 15px 25px;
    background-color:#95d2ec;
    border: 4px solid black;
    font-family: serif;
    font-weight: bold;
    font-size: 1.25rem;
}

.passenger-seat-wrapper{
    flex: 2;
    flex-direction: column;
    box-shadow: 5px -5px 4px rgba(220, 235, 251, 0.50), -5px 5px 4px rgba(220, 235, 251, 1);
    border-radius: 5px 20px 20px 20px;
    padding: 20px;
    background: #fff;
    min-width: 300px;
    margin-top: 20px;
    font-family: serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom:30px ;
}

.seats.passenger{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #95d2ec; 
}

.passenger-name{
    margin-left: 50px;
    margin-right: 50px;
}

.action-area.seats-actions {
    display: block;
}

.action-area.seats-actions a{
    margin-left:40px;
}

.action-area.seats-actions .btn-blue-outline{
    padding: 8px 10px;
}

/*Add Extra*/
.add-extra.common-container{
    max-width: 900px;   
    margin: 10px auto;
    padding: 20px;    
    font-family: 'Segoe UI', sans-serif;
}

.add-extra.ticket-card{
    flex: 1 1 300px;
    max-width: 300px;
}

.bags.add-extra.ticket-card{
    max-width: 450px;
}

.select-section{
     max-width: 900px;
    margin-bottom: 40px;
}

.select-section > form{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.add-extra.common-text{
    display: block;
    text-align: center;
    font-weight: bolder;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.meal-list{
    list-style: none;
    padding: 0px;
    height:250px;
    overflow:hidden;
    overflow-y:scroll;
}

.meal-list input[type='radio'] {
    display: none;
}

.meal-option{
    display: block;
    border: 2px solid white;
    margin-top: 10px;
}

.meal-option.common-text{
    display: block;
    padding: 10px;
}

.meal-list input[type='radio']:checked  + .meal-option {
    background-color: #ebebeb;
    border: 2px solid #333;
    border-radius: 4px; 
}

.bags-selection{
    max-width: 450px;
    height:250px;
    overflow:hidden;
    overflow-y:scroll;
    padding-bottom: 20px;
}

.bag{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 180px;
    padding: 10px;
    box-shadow: -3px -3px 4px rgba(191, 193, 196, 0.5),
     3px 3px 4px rgba(191, 193, 196, 0.5),
     -3px 3px 4px rgba(191, 193, 196, 0.5);
    text-align: center;
}

.bag.row2{
    margin-top: 25px;
}


.bag > span.fa-solid.fa-suitcase::before{
    display: inline-block;
    font-size: 100px;
    transform: scaleX(0.6) scaleY(0.6);
    color: #024881;
}

.bag > span.fa-solid.fa-suitcase-rolling::before{
    display: inline-block;
    font-size: 100px;
    color: #024881;
}

.bag > span.fa-solid.fa-suitcase-rolling.medium{
    transform: scaleX(0.8) scaleY(0.8);
}

.bag > span.fa-solid.fa-suitcase-rolling.large{
    transform: scaleX(0.8);
}

.bag > p.common-text{
    padding: 15px 10px 10px 10px;
    margin: 0px;
}

.inc-dec{
    display: flex;
    justify-content:space-between;
}

.inc-dec>span.common-text{
    width: 33.33%;
    padding-top: 12px;
    margin: 0px;
}

.inc-dec>button{
    width: 33.33%;
}

.summary-card {
    flex: 1;
    border: 4px solid #000000;
    border-radius: 10px 10px 20px 5px;
    padding: 20px;
    min-width: 200px;
    font-family: 'Segoe UI', sans-serif;
}

.summary-card .part {
    display: inline-block;
    border: 4px solid #000000;
    border-radius: 10px 10px 20px 5px;
    padding: 15px;
    width: 200px;
    font-family: 'Segoe UI', sans-serif;
}

.part>p{
    margin: 5px 0px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 50px;
    font-size: 1.1rem;
}

.summary-row>.common-text{
    margin-top: 50px;
}
/*-------------------------------------------PayMent Page-------------------------------------------*/
.checkout-container {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
}

.ticket-card.black-border{
    border: 4px solid #000;
    box-shadow: none;
    border-radius: 5px 20px 20px 20px;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
    font-family: serif;
}

.summary-section {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}


.ticket-card {
    flex: 2;
    box-shadow: 5px -5px 4px rgba(220, 235, 251, 0.50), -5px 5px 4px rgba(220, 235, 251, 1);
    border-radius: 5px 20px 20px 20px;
    padding: 20px;
    position: relative;
    background: #fff;
    min-width: 300px;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 20px;
}

.flight-route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

.flight-route .path {
    flex-grow: 1;
    margin: 0 15px;
    position: relative;
    border-top: 2px solid #000;
    margin-top: 10px;
}

.flight-route .path .fa-plane {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 0 5px;
}

.passenger-details {
    margin-top: 20px;
}

.p-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
}

.p-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
}


.p-type {
    color: #666;
    font-size: 0.9em;
}


.p-list li.empty-line {
    height: 20px;
}

.price-card {
    flex: 1;
    border: 4px solid #000000;
    border-radius: 10px 10px 20px 5px;
    padding: 20px;
    min-width: 200px;
    font-family: 'Segoe UI', sans-serif;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.price-card hr {
    border: 1px solid #000;
    margin: 15px 0;
}

.total {
    font-weight: bold;
    font-size: 1.3rem;
}


.payment-section {
    border: 2px solid #333;
    padding: 25px;
    border-radius: 10px;
    background-color: #fafafa;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name-fields {
    display: flex;
    gap: 20px;
}

.date-selects {
    display: flex;
    gap: 10px;
}

.cvv-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-box.short {
    width: 80px;
}


.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


/*-------------------------------------------تأكيد الدفع-------------------------------------------*/

.confirmation-container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

.success-title {
    font-family: serif;
    margin-bottom: 30px;
    font-size: 1.5rem;
}


.ticket-card.centered-ticket {
    margin: 0 auto;
    text-align: left;
    background: white;
}


.action-area {
    margin-top: 40px;
}

/*-------------------------------------------بيانات الرحله-------------------------------------------*/
.manage-container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border: 3px solid #000;
    border-radius: 5px;
    position: relative;
}


.user-corner {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.left-align {
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 30px;
}

.manage-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.manage-actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

/*-------------------------------------------buttons-------------------------------------------*/
.btn-pay {
    background: #fff;
    border: 2px solid #000;
    padding: 10px 40px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 3px 3px 0 #000;
}

.btn-back {
    background: transparent;
    border: 2px solid #000;
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn-ok {
    display: inline-block;
    background-color: #1C75BC;
    border: 3px solid #1C75BC;
    color: white;
    padding: 10px 50px;
    text-decoration: none;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-ok:hover {
    background-color: #2686d4;
    color: white;
}

.action-buttons-blue {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-blue-outline {
    background-color: #1C75BC;
    border: 3px solid #1C75BC;
    color: white;
    padding: 8px 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-blue-outline:hover {
    background-color: #3c96df;
    color: white;
}

.action-buttons-gray {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-gray-outline {
    background-color: #9F9F9F;
    border: 3px solid #9F9F9F;
    color: white;
    padding: 8px 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-gray-outline:hover {
    background-color: #bbb8b8;
    color: white;
}
/*-------------------------------------------[]-------------------------------------------*/
